[role=banner] {
  -webkit-app-region: drag;

  align-items: flex-end;
  background-color: $darkest-grey;
  display: flex;
  flex-direction: column;
  grid-area: banner;
  min-width: 12rem;
  overflow: auto;
  padding: 6rem 2rem;

  > * {
    max-width: 25rem;
    width: 100%;
  }

  ul { margin-bottom: 2rem }

  li { margin-bottom: 0.5rem }

  button {
    -webkit-app-region: no-drag;

    padding: 0.8rem 1.5rem;
    text-align: left;
    width: 100%;

    &:hover { background-color: $dark-grey }

    &[data-selected=true] { background-color: $blue }

    &[disabled] {
      background-color: $dark-grey;
      color: $grey;
    }

    &.wip {
      cursor: not-allowed;
      position: relative;

      &:after {
        background-color: $red;
        border-radius: 0.5rem;
        color: $white;
        content: 'Coming Soon!';
        font-size: 0.5em;
        padding: 0.2rem 0.5rem;
        position: absolute;
        right: 0;
        top: 100%;
        transform: translate(0.5rem, -0.7rem) rotate(-8deg);
      }
    }
  }
}
