[role=banner] {
  -webkit-app-region: drag;

  background-color: $darkest-grey;
  grid-area: banner;
  min-width: 12rem;
  overflow: auto;
  padding: 4rem 1rem;

  header {
    margin-bottom: 1rem;
  }

  li {
    margin-bottom: 0.2rem;
  }

  button {
    -webkit-app-region: no-drag;

    padding: 0.5rem 1rem;
    text-align: left;
    width: 100%;

    &:hover {
      background-color: $dark-grey;
    }

    &[data-selected=true] {
      background-color: $blue;
      font-weight: bold;
    }

    &[disabled] {
      background-color: $dark-grey;
      color: $grey;
    }

    &.wip {
      cursor: not-allowed;
      position: relative;

      &:after {
        background-color: $red;
        border-radius: 0.2rem;
        color: $white;
        content: 'Coming Soon!';
        font-size: 0.5em;
        padding: 0.2rem 0.5rem;
        position: absolute;
        right: 0;
        top: 100%;
        transform: translate(0.5rem, -0.7rem) rotate(-8deg);
      }
    }
  }
}
