@mixin input {
  background-color: $darkest-grey;
  border-color: $black;
  border-radius: 0.5rem;
  border-style: solid;
  border-width: 0.1rem;
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  margin: 0;
  padding: 1rem;
  transition-duration: 0.2s;
  transition-property: all;

  &:placeholder {
    color: $grey;
  }

  &[readonly] {
    background-color: transparent;
    border-color: transparent;
  }

  &.compact {
    padding: 0.2rem 1rem;
  }
}
