* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
}

html {
  font-size: 10px;
}

body {
  align-items: stretch;
  background-color: rgba(0, 0, 0, 0.5);
  background-image: linear-gradient(
    to right,
    hsla(0, 0%, 10%, 0.8),
    hsla(214, 100%, 33%, 0.8)
  );
  color: white;
  display: flex;
  font-family: 'Helvetica Neue', sans-serif;
  font-size: 14px;
  font-weight: 100;
  flex-direction: column;
  letter-spacing: 0.1em;
  padding: 2rem;
}

h1 {
  flex-shrink: 0;
  font-size: 3em;
  margin-bottom: 1rem;
}

form {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

input {
  background-color: transparent;
  background-image: linear-gradient(
    to top,
    white,
    white 1px,
    transparent 1px
  );
  background-position: -1000px 0;
  background-repeat: no-repeat;
  border: none;
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  letter-spacing: inherit;
  margin: 0.2rem 0;
  outline: none;
  padding: 1rem;
  transition: background-position 0.5s ease-out;
  width: 100%;
}

input:focus {
  background-position: 0 0;
}

table {
  width: 100%;
}

tr {
  margin-bottom: 1rem;
}

th {
  padding-right: 1rem;
  text-align: right;
  width: 1px;
}

a {
  color: aqua;
}
