h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
}

h1 {
  font-size: 1.2em;
  margin-bottom: 2rem;
}

h2 {
  color: $grey;
  font-size: 0.8em;
  margin-bottom: 1rem;
}
