ol,
ul {
  &:not(:last-child) {
    margin-bottom: 2rem;
  }

  &.bulleted {
    list-style-type: square;
    padding-left: 3rem;
  }

  &.inline {
    display: inline;

    li {
      display: inline;
    }
  }
}
