* { box-sizing: border-box }

html, body {
  margin: 0;
  height: 100vh;
  padding: 0;
  width: 100vw;
}

html { font-size: 10px }

body {
  background-color: $dark-grey;
  color: $white;
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 200;
}

#root {
  display: grid;
  filter: blur(0);
  grid-template-areas: 'banner main';
  grid-template-columns: 30vw 70vw;
  height: 100vh;
  overflow: hidden;
  transition-duration: 0.2s;
  transition-property: filter;
  width: 100vw;
}
